@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primary: #000000;
    --color-secondary: #F6F6F6;
    --color-accent: #22D4FD;
    --color-hover: #272727;

    --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-secondary);
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.menu__link {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-accent);
    text-decoration: none;
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content__title {
    font-size: 2.25rem;
    font-family: var(--font-primary);
}

.content__title--highlight {
    color: var(--color-accent);
}

.content__text {
    font-size: 1.5rem;
}

.content__subtitle {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
}

.content__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.content__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--color-accent);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secondary);
    transition: background-color 0.3s;
}

.content__link:hover {
    background-color: var(--color-hover);
}

.presentation__image {
    width: 50%;
    height: auto;
}

.footer {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .header {
        padding: 5%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentation {
        gap: 40px;
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__content,
    .presentation__image {
        width: 100%;
    }
}